target/
project/target/
project/project/
.bsp/
.idea/
.metals/
.bloop/
*.class
!legacy/graphene-sgx-spark/java_tests/*.class
spark-warehouse/
metastore_db/
gramine/dist/
gramine/work/
gramine/*.manifest
gramine/*.manifest.sgx
gramine/*.sig
